<div class="container-fluid d-flex justify-content-center align-items-center min-vh-100 login_page p-0">


  <div class="row w-100 vh-100">
    <div class="col-md-6 d-none d-md-flex  imagepart">
      <div class="">
        <h2>SOLU<span class="highlight">SPA</span></h2>
        <p>{{ 'LOGIN.TAGLINE' | translate }}</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12 d-flex align-items-center justify-content-center login_content_side">

      <!-- <div id="loader" class="loader" *ngIf="isLoading">
          <div class="load">
          </div>
        </div> -->
      <div class="dropdown languageconverter"
        style="width: 100%; display: flex; justify-content: end; margin-bottom: 15px;">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          {{ translate.currentLang === 'fr' ? 'FRE' : 'ENG' }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
          <li><a class="dropdown-item" (click)="switchLanguage('fr')">FRE</a></li>
          <li><a class="dropdown-item" (click)="switchLanguage('en')">ENG</a></li>
        </ul>
      </div>

      <div *ngIf="!showIdentityConfirm" class="login_page_contouter forgetpass">

        <div class="card login_page_cont">
          <h3> {{ 'LOGIN.FORGOT_PASSWORD' | translate }} </h3>
          <p><span></span> {{ 'LOGIN.EnterUserName' | translate }} </p>
          <form [formGroup]="forgetPasswordForm">
            <!-- Username Field -->
            <div class="form-group">
              <label for="username"> {{ 'LOGIN.USERNAME_LABEL' | translate }} </label>
              <input type="text" formControlName="username" class="form-control" id="username" placeholder=" {{ 'LOGIN.USERNAME_LABEL' | translate }} ">
            </div>
            <!-- Forgot Password Link -->
            <div class="mt-2 text-end">
              <a href="#" class="text-primary"> {{ 'LOGIN.BacktoLogin' | translate }} </a>
            </div>

            <!-- Login Button -->
            <button type="button" (click)="onSubmitForgetPassword()" class="btn btn-primary btn-block mt-4 w-100">
              {{ 'LOGIN.Submit' | translate }} </button>
          </form>
        </div>
      </div>

      <ng-container *ngIf="IsidentityConfirm">
        <div class="login_page_contouter Identity_confirm ">

          <div class="card login_page_cont">
            <h3> {{ 'LOGIN.IdentityConfirmation' | translate }}

              <!-- <span></span> -->
              <!-- <img src="assets/img/hifi.png" alt=""> -->
            </h3>
            <p><span></span> {{ 'LOGIN.AnswerQuestion' | translate }} </p>
            <form [formGroup]="identityConfirmForm">
              <!-- Username Field -->
              <div class="form-group">
                <label for="username"> {{ 'LOGIN.USERNAME_LABEL' | translate }} </label>
                <input type="text" formControlName="username" class="form-control" id="username" placeholder="Username"
                  autofocus readonly>
              </div>

              <div class="form-group">
                <label for="username"> Question </label>
                <input type="text" formControlName="ques" class="form-control" id="ques" placeholder="ques" autofocus
                  readonly>
              </div>
              <div class="form-group">
                <label for="username"> {{ 'ACCOUNTS.Answer' | translate }} </label>
                <input type="text" formControlName="ans" class="form-control" id="ans" placeholder="{{ 'ACCOUNTS.Answer' | translate }}" autofocus>
              </div>

              <!-- Forgot Password Link -->
              <!-- <div class="mt-2 text-end">
                <a href="#" class="text-primary">Back to Login</a>
              </div> -->

              <!-- Login Button -->
              <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onValidateAnswer()"> {{ 'LOGIN.Submit' | translate }}
              </button>
              <button type="submit" class="btn btn-primary btn-block mt-2 w-100" (click)="onCancelIdentityConfirm()">
                {{ 'MODAL.Cancel' | translate }} </button>
            </form>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div id="loader" class="loader" *ngIf="isLoading">
  <div class="load">
  </div>
</div>


<div class="modal fade" id="resetpass" tabindex="-1" aria-labelledby="resetpass" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetPassModal">Reset New Password</h5>
        <button type="button" id="closemodal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
          <div class="mb-2">
            <label for="UserName" class="form-label"> {{ 'PLACEHOLDER.EnterUser' | translate }} </label>
            <input (keypress)="blockwhitespaces($event)" type="text" id="UserName" readonly formControlName="userName"
              placeholder="{{ 'PLACEHOLDER.EnterUser' | translate }}" class="form-control">
          </div>
          <div class="mb-2">
            <label for="newpass" class="form-label"> {{ 'Technician.NewPass' | translate }} </label>
            <input (keypress)="blockwhitespaces($event)" type="password" id="newpass" formControlName="Password"
              maxlength="15" placeholder=" {{ 'Technician.NewPass' | translate }}" class="form-control"
              [ngClass]="{'is-invalid': changePasswordForm.get('Password')?.invalid && changePasswordForm.get('Password')?.touched}" />
            <div *ngIf="changePasswordForm.get('Password')?.touched && changePasswordForm.get('Password')?.errors"
              class="invalid-feedback">
              {{ changePasswordForm.get('Password')?.errors?.['required'] ? 'Password is required.' :
              'Password must be at least 6 characters long.' }}
            </div>
          </div>
          <div class="mb-2">
            <label for="confirmpass" class="form-label"> {{ 'Technician.ChangePassword' | translate }} </label>
            <input (keypress)="blockwhitespaces($event)" type="password" id="confirmpass"
              formControlName="confirmPassword" maxlength="15"
              placeholder=" {{ 'Technician.ChangePassword' | translate }} " class="form-control">
            <div *ngIf="changePasswordForm.hasError('mismatch') && changePasswordForm.get('confirmPassword')?.touched"
              class="text-danger">
              {{ 'Technician.DiffPassValidation' | translate }}

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> {{ 'MODAL.Cancel' | translate }}
            </button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal"
              [disabled]="!changePasswordForm.valid"> {{ 'HEADER.SAVE' | translate }} </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>