<section class="technician_main">
    <div id="loader" class="loader" *ngIf="isLoading">
        <div class="load">
        </div>
      </div>
    <form  [formGroup]="techServiceJobsForm" autocomplete="off">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div  class="bg-white">
                    <h4> {{ 'Technician.TSchedules' | translate }} </h4>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label for="searchDate" class="form-label"> {{ 'CALENDAR.Date' | translate }} </label>
                           
                            <input type="date" formControlName="searchDate" 
                               class="form-control" id="searchDate">
                                <div *ngIf="techServiceJobsForm.get('searchDate')?.invalid && (techServiceJobsForm.get('searchDate')?.touched || techServiceJobsForm.get('searchDate')?.dirty)"
                                class="text-danger">
                                <span *ngIf="techServiceJobsForm.get('searchDate')?.hasError('required')">Select Date</span>                      
                                </div>
                        </div>
                        <div class="col-md-3 text-end">
                            <button type="submit" style="
                            margin-top: 30px;
                        " class="btn btn-primary" (click)="onSearchServiceJobsByDate()"> {{ 'Technician.ShowSchedule' | translate }} </button>
                        </div>
                    </div>
                 
                    <div class="row mt-3">
                        <div class="listofappointments" >

                            <div class="service-job-item" *ngFor="let item of seriveJobsList" (click)="navigateToServiceCall(item)" style="cursor: pointer;">
                                <div class="service-job-content">
                                    <div class="service-job-header">
                                        <button class="route-button" (click)="showRoute(item); $event.stopPropagation()">
                                            <i class="fas fa-route"></i>
                                        </button>
                                        <div class="visit-status-tag" *ngIf="item.completed === null || item.completed === 1" [ngClass]="getVisitStatusClass(item.completed)">
                                            {{ item.completed === 1 ? ('Visit.Completed' | translate) : ('Visit.InProgress' | translate) }}
                                        </div>
                                    </div>
                                    <div class="service-job-details">
                                        <div class="visit-duration">{{ item.visitDuration }} min</div>
                                        <div class="client-info">
                                            <div class="client-name">{{ item.clientFullName }}</div>
                                            <div class="client-city">{{ item.city }}</div>
                                        </div>
                                        <div class="issue-info">
                                            <div class="issue-class">{{ item.issueClassLabel }}</div>
                                            <div class="pool-specialist">{{ item.poolSpecialistAbbreviation }}</div>
                                        </div>
                                        <button *ngIf="!item.completed" class="notification-button" (click)="handleNotificationClick($event, item)">
                                            <i class="fas fa-bell"></i>
                                            {{ 'Visit.SendArrivalNotification' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="loader" class="loader" *ngIf="isLoading">
                                <div class="load">
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div *ngIf="showGoogleMaps">
                   <app-googlemap [data]="sendData"></app-googlemap>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- <div class="modal fade" id="EmailVisitsModal" tabindex="-1" aria-labelledby="EmailVisitsModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferVisitsModalLabel"> {{'SEND_EMAIL.EDIT_EMAIL_TEMPLATE' | translate }} </h5>
                <button type="button" id="EmailVisitsModalclose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="loader" class="loader" *ngIf="isLoading">
                    <div class="load">
                    </div>
                  </div>
                  <app-googlemap></app-googlemap>
             
            </div>            
        </div>
    </div>
</div> -->