<section class="technician_main">
    <div id="loader" class="loader" *ngIf="isLoading">
        <div class="load">
        </div>
      </div>
    <form  [formGroup]="techServiceJobsForm" autocomplete="off">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div  class="bg-white">
                    <h4> {{ 'Technician.TSchedules' | translate }} </h4>
                    <div class="row mt-3">
                        <div class="col-md-3">
                            <label for="searchDate" class="form-label"> {{ 'CALENDAR.Date' | translate }} </label>
                           
                            <input type="date" formControlName="searchDate" [value]="currentDate" 
                               class="form-control" id="searchDate">
                                <div *ngIf="techServiceJobsForm.get('searchDate')?.invalid && (techServiceJobsForm.get('searchDate')?.touched || techServiceJobsForm.get('searchDate')?.dirty)"
                                class="text-danger">
                                <span *ngIf="techServiceJobsForm.get('searchDate')?.hasError('required')">Select  Date</span>                      
                                </div>
                        </div>
                        <div class="col-md-3 text-end">
                            <button type="submit" style="
                            margin-top: 30px;
                        " class="btn btn-primary" (click)="onSearchServiceJobsByDate()"> {{ 'Technician.ShowSchedule' | translate }} </button>
                        </div>
                    </div>
                 
                    <div class="row mt-3">
                        <div class="listofappointments" >

                            <div *ngFor="let item of seriveJobsList" class="listapp" [ngClass]="item.cssClass"  (click)="jobServiceDetails(item.idVisit,item.idClient,item.idSpa,item.technician_id,item.idServiceCall )">
                                <button (click)="showRoute(item.idClient); $event.stopPropagation()" type="submit" class="btn btn-outline-primary"> {{ 'HEADER.Show_Route' | translate }} </button>

                                <p>{{item.visitDuration}}</p>
                                <div class="name">
                                   {{item.clientFullName}}
                                </div>
                                <div class="name">
                                    {{item.city}}
                                 </div>
                                 <div class="name">
                                    {{item.issueClass_labelEn}}
                                 </div>
                                 <div class="name">
                                    {{item.poolSpecialist_abbreviation}}
                                 </div>
                            </div>
                            <div id="loader" class="loader" *ngIf="isLoading">
                                <div class="load">
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <div *ngIf="showGoogleMaps">
                   <app-googlemap [data]="sendData"></app-googlemap>
                </div>
            </div>
        </div>
    </form>
</section>
<!-- <div class="modal fade" id="EmailVisitsModal" tabindex="-1" aria-labelledby="EmailVisitsModal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="transferVisitsModalLabel"> {{'SEND_EMAIL.EDIT_EMAIL_TEMPLATE' | translate }} </h5>
                <button type="button" id="EmailVisitsModalclose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="loader" class="loader" *ngIf="isLoading">
                    <div class="load">
                    </div>
                  </div>
                  <app-googlemap></app-googlemap>
             
            </div>            
        </div>
    </div>
</div> -->