<section class="technician_main">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white">
                <h4> {{ 'Technician.TechnicianPage' | translate }}
                  <button (click)="sendMail()" type="submit" class="btn btn-outline-primary"> {{ 'HEADER.Send_Notification' | translate }} </button>
           
                </h4>
                 </div>
        </div>
    </div>

    <div id="loader" class="loader" *ngIf="isLoading">
      <div class="load">
      </div>
  </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item bg-white">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
            {{ 'SERVICE_CALL.Client_Info' | translate }}
          </button>    </h2>
        <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-client-details [clientData]="clientData"></app-client-details>
          </div>
        </div>
      </div>
      
      <div class="accordion-item bg-white">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            {{ 'HEADER.Service_Call' | translate }}
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <form [formGroup]="serviceCallForm">
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label">{{ 'HEADER.Service_Call_Number' | translate }}</label>
                  <input type="text" class="form-control" formControlName="serviceCallNumber" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">{{ 'SERVICE_CALL.Status' | translate }}</label>
                  <input type="text" class="form-control" formControlName="status" readonly>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label">{{ 'SERVICE_CALL.Issue' | translate }}</label>
                  <input type="text" class="form-control" formControlName="issue" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">{{ 'SERVICE_CALL.PoolSpecialist' | translate }}</label>
                  <input type="text" class="form-control" formControlName="poolSpecialist" readonly>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label">{{ 'SERVICE_CALL.PlacementDate' | translate }}</label>
                  <input type="text" class="form-control" formControlName="datePlacement" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label">{{ 'HEADER.COMMENTS' | translate }}</label>
                  <textarea class="form-control" formControlName="notes" rows="3"></textarea>
                </div>
              </div>
              <div class="text-end mt-4">
                <button type="submit" class="btn btn-primary" (click)="saveServiceCall()">{{ 'HEADER.SAVE' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-white">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            {{ 'Technician.InfoSpa' | translate }}
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <app-spa-details></app-spa-details>
          </div>
        </div>
      </div>
      <div class="accordion-item bg-white">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseFour">
            <h4 class="mb-4"> {{ 'Technician.VisitInfo' | translate }} </h4>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <form [formGroup]="visitForm" >
              <!-- Technician and Date of Visit -->
               
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label"> {{ 'CALENDAR.Technician' | translate }} </label>
                  <input type="text" class="form-control" formControlName="technician" readonly>
                </div>
                <div class="col-md-6">
                  <label class="form-label"> {{ 'SEND_EMAIL.DATE_OF_VISIT' | translate }} </label>
                  <input type="text" class="form-control" formControlName="dateOfVisit" readonly>
                </div>
              </div>
              <!-- Time From and To -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label"> From </label>
                  <input type="time" class="form-control" formControlName="timeFrom">
                </div>
                <div class="col-md-6">
                  <label class="form-label"> To </label>
                  <input type="time" class="form-control" formControlName="timeTo">
                </div>
              </div>
              <!-- Service Requester and Buttons -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label"> {{ 'Technician.ServiceRequester' | translate }} </label>
                  <input type="text" class="form-control" formControlName="serviceRequester" readonly>
                </div>
                <div class="col-md-6 my-2">
                  <label class="form-label"> {{ 'SERVICE_CALL.Complete' | translate }} </label>
                  <div class="form-check form-switch">
                    <input class="form-check-input" formControlName="completed" type="checkbox" role="switch" id="completePayment" (change)="onCompleteClick($event)">
                  </div>
                </div>


                <div class="row" *ngIf="isCheckboxChecked">
                  <div class="col-md-12 ">
                    <div class="testdiv mt-3">
                      <form [formGroup]="completePaymentForm">
                        <div class="row mb-2">
                          <div class="col-md-4">
                            <label for=""> {{ 'SERVICE_CALL.Pièces' | translate }} </label>
                            <input type="text" class="form-control" (input)="validatePositiveNumbers($event)" formControlName="sPieces" (input)="calculateSums()">
                          </div>
                          <div class="col-md-4">
                            <label for="">$ M-O</label>
                            <input type="text" class="form-control"  (input)="validatePositiveNumbers($event)" formControlName="sMo" (input)="calculateSums()">
                          </div>
                          <div class="col-md-4">
                            <label for=""> {{ 'SERVICE_CALL.SubTotal' | translate }} </label>
                            <input type="text" class="form-control" (input)="validatePositiveNumbers($event)" formControlName="sousTotal" >
                          </div>
                          <div class="col-md-4">
                            <label for="">TPS</label>
                            <input type="text" class="form-control" (input)="validatePositiveNumbers($event)" formControlName="tps" >
                          </div>
                          <div class="col-md-4">
                            <label for="">TVQ</label>
                            <input type="text" class="form-control" (input)="validatePositiveNumbers($event)" formControlName="tvq" >
                          </div>
                          <div class="col-md-4">
                            <label for=""> {{ 'SERVICE_CALL.GrandTotal' | translate }} </label>
                            <input type="text" class="form-control" (input)="validatePositiveNumbers($event)" formControlName="grandTotal" >
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>

                

              <!-- Paid Switch -->
              <div class="col-md-12 mb-3">
                <label class="form-label"> {{ 'SERVICE_CALL.Paid' | translate }} </label>
                <div class="form-check form-switch">
                  <input class="form-check-input" [checked]="isPaymentChange" formControlName="paymentMode" type="checkbox" role="switch" id="paymentMode" (change)="onPaymentChange($event)">
                </div>
                <div class="row" *ngIf="isPaymentChange">
                  <div class="col-md-12">
                    <div class="testdiv mt-3">
                    <label class="form-label"> {{ 'SERVICE_CALL.PaymentMethod' | translate }} </label>
                    <select class="form-select" formControlName="paymentMethod">
                      <option value="" disabled selected>Select Payment Method</option>
                      <option *ngFor="let method of paymentMethods" [value]="method.id">{{ method.paymentMethod }}</option>
                    </select>
                  </div>
                </div>
                </div>
                
              </div>
              
              <!-- Status and Duration -->
              <div class="row mb-3">
                <div class="col-md-4">
                  <label class="form-label"> {{ 'SERVICE_CALL.Invoice' | translate }} </label>
                  <input type="text" class="form-control" placeholder="{{ 'SERVICE_CALL.Invoice' | translate }}"  formControlName="invoice" >
                </div>
                <div class="col-md-4">
                  <label class="form-label"> {{ 'SERVICE_CALL.NextVisit' | translate }} </label>
                  <input type="time" class="form-control" formControlName="durationNextVisit">
                </div>
              </div>
              <!-- Pending Parts and Notes -->
              <div class="row mb-3">
                <div class="col-md-6">
                  <label class="form-label"> {{ 'Technician.PendingParts' | translate }} </label>
                  <textarea class="form-control" formControlName="pendingParts" rows="2"></textarea>
                </div>
                <div class="col-md-6">
                  <label class="form-label"> {{ 'HEADER.NOTES' | translate }} </label>
                  <textarea class="form-control" formControlName="notes" rows="2"></textarea>
                </div>
              </div>
              <!-- Comments -->
              <div class="mb-3">
                <label class="form-label"> {{ 'HEADER.COMMENTS' | translate }} </label>
                <textarea class="form-control" formControlName="comments" rows="3"></textarea>
              </div>
              <!-- Submit Button -->
              <div class="text-end mt-4">
                <button (click)="saveVisitForm()" type="submit" class="btn btn-primary"> {{ 'HEADER.SAVE' | translate }} </button>
              </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      

      <div class="accordion-item bg-white">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFour">
            {{ 'Technician.ServiceCallHistory' | translate }}
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>{{ 'CALENDAR.Date' | translate }}</th>
                    <th>{{ 'SERVICE_CALL.Status' | translate }}</th>
                    <th>{{ 'SERVICE_CALL.Issue' | translate }}</th>
                    <th>{{ 'CALENDAR.Technician' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let element of dataSourceService">
                    <td (click)="showServicecall(element)">{{ element.date | date:'dd-MM-yyyy' }}</td>
                    <td (click)="showServicecall(element)">{{ element.status }}</td>
                    <td (click)="showServicecall(element)">{{ element.issue }}</td>
                    <td (click)="showServicecall(element)">{{ element.technician }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>



    </div>


</section>